{# This template is sensitive to a user being signed in #}

{% extends "gamestradamus/base.html" %}

{% block title %}Accept Friend Invitation{% endblock %}
{% block description %}Decide whether to be friends with another Gauge member.{% endblock %}

{% block header %}
    <article class="accept-invitation">
        <div class="title">
            <h1>Friend Invitation</h1>
            <div class="actions"></div>
            <p class="instructions"></p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="accept-invitation">

        {% if not request.user_account %}
            <div class="invitation">
                <div class="details">
                    <h2>{{ requestor.nickname }}<span>⇄</span>You</h2> 
                    <p>You will need to sign in to accept this invitation.</p>
                </div>
                <a class="sign-in" href="/auth/openid/begin/steam/?return={{ request.path_info|urlencode }}"></a>
            </div>
        {% else %}
            <div class="invitation">
                <div class="details">
                    <h2>{{ requestor.nickname }}<span>⇄</span>You</h2> 
                    <div class="wrap">
                        <p><strong>Accept this invitation to view {{ requestor.nickname }}'s Library.</strong></p>
                        <ul>
                            <li>They will get read-only access to your Library.</li>
                            <li>You can revoke a friends access at anytime.</li>
                        </ul>
                    </div>
                </div>
                <form method="POST">
                    <input type="submit" value="Accept Invitation">
                    <a href="/profile/games/">Ignore Invitation</a>
                </form>
            </div>
        {% endif %}

    </article>
{% endblock %}
