{#
    This template is very similar to the Profile Games template, but is
    specifically a read only view for other members.
#}

{% extends "gamestradamus/base.html" %} 
{% import "gamestradamus/numbers.html" as numbers %}

{% block title %}{{ user_account.nickname }}'s Library{% endblock %}

{% block header %}
    <article class="member-games">
        <div class="title">
            <h1>{{ user_account.nickname }}'s Library</h1>
            <div class="actions"></div>
            <p class="instructions">Manage your friends on your&nbsp;<a href="/profile/settings/#friend-settings">profile settings</a>&nbsp;page.</p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="member-games">

        <div class="statistics">
            <div class="average-cost-per-hour">
                <div class="stat">0<span class="unit">c</span></div>
                <p>Average Cost / Hour</p>
            </div>

            <div class="minor">
                <div class="average-cost">
                    {% if region.numbers.dollar_symbol_position == 'before' %}
                        <span class="unit">{{ region.numbers.dollar_symbol|safe }}&nbsp;</span><div class="stat">0.00</div>
                    {% else %}
                        <div class="stat">0.00</div><span class="unit">&nbsp;{{ region.numbers.dollar_symbol|safe }}</span>
                    {% endif %}
                    <p>Average Cost</p>
                </div>

                <div class="average-playtime">
                    <div class="stat">0.0</div><span class="unit">&nbsp;hrs</span>
                    <p>Average Time</p>
                </div>

                <div class="total-cost">
                    {% if region.numbers.dollar_symbol_position == 'before' %}
                        <span class="unit">{{ region.numbers.dollar_symbol|safe }}&nbsp;</span><div class="stat">0.00</div>
                    {% else %}
                        <div class="stat">0.00</div><span class="unit">&nbsp;{{ region.numbers.dollar_symbol|safe }}</span>
                    {% endif %}
                    <p>Total Cost</p>
                </div>

                <div class="total-playtime">
                    <div class="stat">0.0</div><span class="unit">&nbsp;hrs</span>
                    <p>Total Time</p>
                </div>
            </div>

            <div class="friends">
                <p>View another Library</p>
                <select>
                    <option>Choose</option>
                    <option>&mdash;</option>
                    <option>Your Library</option>
                    <option>&mdash;</option>
                    {% for friend in friend_list %}
                        <option value="{{ friend.id }}">{{ friend.nickname }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="clear"></div>
        </div>

        <div class="progress-bar-wrapper">
            <div id="progress-bar">
                <span></span>
                <div class="progress">
                    <span></span>
                </div>
            </div>
        </div>

        <table id="library">
        <thead>
            <tr>
                <th id="filter-column-header">
                    {% include "gamestradamus/fragment/tags/dropdown.html" %}
                </th>
                <th id="name-column-header">
                    <a class="sort-reverse-initial">Game / Genre</a>
                </th>
                <th id="cost-column-header"><a>Cost</a></th>
                <th id="hours-column-header"><a class="sort-descending">Hours</a></th>
                <th id="cost-per-hour-column-header"><a class="sort-reverse-initial">{{ region.numbers.dollar_symbol|safe }} / Hour</a></th>
                <th id="rating-column-header"><a>Enjoyment</a></th>
                <th id="finished-column-header">Finished</th>
            </tr>
            <tr id="filter-list">
                <th colspan="8">
                    <div class="rollup">
                        <span class="label">Active:</span>
                        {% include "gamestradamus/fragment/tags/filter-list.html" %}
                    </div>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="cost">&nbsp;</td>
                <td class="hours">&nbsp;</td>
                <td class="center">&nbsp;</td>
                <td class="center">&nbsp;</td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
        {% for user_account_game, game in results %}
            {% if not user_account_game.ignore %}

            {% set price = game.price|default(0, True) %}
            {% set sale_price = game.sale_price|default(0, True) %}
            {% set on_sale = game.on_sale %}
            {% set genre = game.genre %}

            <tr class="game {{ loop.cycle("odd", "") }}" data-game-id="{{ game.id }}" data-user-account-game-id="{{ user_account_game.id }}">
                <td class="pos left-edge"><div>{{ loop.index }}</div></td>
                <td class="name">
                    <a href="/profile/game/{{ game.id }}/">
                        <img 
                            {% if game.logo %}
                                src="{{ game.logo }}"
                            {% else %}
                                src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/capsule_sm_120.jpg"
                            {% endif %}
                            width="96" height="36">
                        <h4 class="name">{{ game.name }}</h4>
                    </a><br>
                    <div class="tools">
                        {% if genre %}
                            <div class="genre">
                                {{ genre }}
                            </div>
                        {% endif %}
                        <div class="tag-list">
                            {% if user_account_game.tags %}
                                {% for tag in user_account_game.tags.split('|') %}
                                    <a class="tag color-{{ color_hash(tag|tag_group|default('', True)) }}" data-tag-name="{{ tag }}" title="{{ tag }}">{{ tag|tag_name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td class="cost {% if not user_account_game.corrected %}uncorrected{% endif %}"
                    data-steam-price="{{ "%.2f"|format(price|default(0, True)) }}"
                >
                    {{ numbers.format_price(region, user_account_game.dollars_paid) }} 
                </td>
                <td class="hours {% if user_account_game.custom_hours_played|default(0, True) %}altered{% endif %}"
                    data-steam-hours-played="{{ "%.1f"|format(user_account_game.steam_hours_played|default(0, True)) }}"
                >
                    {{ numbers.format_hours(region, user_account_game.hours_played) }}
                </td>
                <td class="center money">
                    <span class="cost-per-hour">
                        {% if user_account_game.dollars_paid and user_account_game.hours_played %}
                            {{ numbers.format_cost_per_hour(region, user_account_game.cost_per_hour) }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </span>
                </td>
                <td class="rating">
                    {% set rating = user_account_game.rating|default(0, True) %}

                    <div class="rating" data-rating="{{ rating }}"><!--

                        --><div class="rating-1{% if rating > 0 %} active{% endif %}"><!--
                            --><a class="rating-1" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span></span></a><!--

                            --><div class="rating-2{% if rating > 1 %} active{% endif %}"><!--
                                --><a class="rating-2" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span></span></a><!--

                                --><div class="rating-3{% if rating > 2 %} active{% endif %}"><!--
                                    --><a class="rating-3" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span></span></a><!--

                                    --><div class="rating-4{% if rating > 3 %} active{% endif %}"><!--
                                        --><a class="rating-4" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span></span></a><!--

                                        --><div class="rating-5 {% if rating > 4 %} active{% endif %}"><!--
                                            --><a class="rating-5" title="{{ region.numbers.format_rating(rating) }} / {{ region.numbers.format_rating(5.0) }}"><span></span></a><!--
                        --></div></div></div></div></div>
                    </div>
                </td>

                <td class="finished right-edge"><div>{% if user_account_game.finished %}Yes{% else %}No{% endif %}</div></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        <tbody class="hidden">
            <tr id="empty-row">
                <td colspan="8">&mdash; No games match your current filters &mdash;</td>
            </tr>
        </tbody>
        </table>
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/member-games"], function(init) { init(); });
    </script>
{% endblock %}
