{% extends "gamestradamus/base.html" %}

{% block title %}Upgrade to Premium{% endblock %}

{% block header %}
    <article class="make-premium">
        <div class="title">
            <h1>Upgrade to Premium</h1>
            <p class="data"></p>
            <p class="instructions">
                Unrestricted access to all of Gauge's current and upcoming features. 
            </p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="premium">
        <div class="free">
            <h1>Free</h1>
            <h2>Partial Predictions</h2>
            <p>Predictions for regular priced games</p>
            <p>Access to free prediction servers</p>
            <a class="pleb" href="/profile/">Return to site...</a>
        </div>

        <div class="premium">
            <h1>Premium</h1>
            <h2>Full Predictions</h2>
            <p>Unfettered access to predictions</p>
            <p>Predictions for games that are on sale</p>
            <p>Access to Premium prediction servers</p>
            <h3>1 year of service:&nbsp;<strong>$7.99</strong></h3>
            <a class="pay" href="/profile/{{ request.user_account.id }}/make-premium">Pay Now</a>
        </div>
    </article>
{% endblock %}
