{% extends "gamestradamus/base.html" %} 
{% import "gamestradamus/numbers.html" as numbers %}

{% block title %}Your Library{% endblock %}

{% block library_nav_class %}active{% endblock %}

{% block header %}
    <article class="your-games">
        <div class="title">
            <h1>Your Library</h1>
            <div class="actions">
                Tools:
                <a id="your-library-help" href="/faq/" title="Need help? Check out the FAQ." class="end">?</a>
                <a id="download-csv" href="/profile/csv-export/" title="Download a CSV"></a>
                <a id="your-ignored-games" href="/profile/ignored/" title="View your ignored games">×</a>
                <a id="invite-friend" title="Invite a friend to compare Libraries."></a>
                {% if allow_update %}
                    <a id="update-games" title="Update your Library from Steam"></a>
                {% endif %}
            </div>
            <p class="instructions">
                <span id="last-updated-wrapper" class="{% if user_attrs.games_updating %}hidden{% endif %}">
                    Last update from Steam:&nbsp;<span id="last-updated" data-last-updated="{{ last_updated }}"></span>
                </span>
                <img id="update-games-loader" class="{% if not user_attrs.games_updating %}hidden{% endif %}" src="{{ request.config['gauge.static_base'] }}images/loader.gif">
            </p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="your-games">
        {% include "gamestradamus/fragment/tags/modal.html" %}
        {% include "gamestradamus/fragment/premium/modal-game-library-tagging.html" %}
        {% include "gamestradamus/fragment/invitations/modal.html" %}

        <div id="message" class="hidden">
            <div class="inner">
                <p>&nbsp;</p>
                <a class="dismiss" title="Dismiss this message.">×</a>
            </div>
        </div>

        <div class="statistics" id="aggregates">
            <div class="average-cost-per-hour">
                <div class="stat">0<span class="unit">c</span></div>
                <p>Average Cost / Hour</p>
            </div>

            <div class="minor">
                <div class="average-cost">
                    {% if region.numbers.dollar_symbol_position == 'before' %}
                        <span class="unit">{{ region.numbers.dollar_symbol|safe }}&nbsp;</span><div class="stat">0.00</div>
                    {% else %}
                        <div class="stat">0.00</div><span class="unit">&nbsp;{{ region.numbers.dollar_symbol|safe }}</span>
                    {% endif %}
                    <p>Average Price</p>
                </div>

                <div class="average-playtime">
                    <div class="stat">0.0</div><span class="unit">&nbsp;hrs</span>
                    <p>Average Time</p>
                </div>

                <div class="total-cost">
                    {% if region.numbers.dollar_symbol_position == 'before' %}
                        <span class="unit">{{ region.numbers.dollar_symbol|safe }}&nbsp;</span><div class="stat">0.00</div>
                    {% else %}
                        <div class="stat">0.00</div><span class="unit">&nbsp;{{ region.numbers.dollar_symbol|safe }}</span>
                    {% endif %}
                    <p>Total Cost</p>
                </div>

                <div class="total-playtime">
                    <div class="stat">0.0</div><span class="unit">&nbsp;hrs</span>
                    <p>Total Time</p>
                </div>
            </div>

            <div class="friends">
                {% if not friend_list %}
                    <p>Compare data with friends.</p>
                    <a href="#" title="Send an invitation to exchange Libraries.">Send invitation</a>
                {% else %}
                    <p>View another Library</p>
                    <select>
                        <option>Choose</option>
                        <option>&mdash;</option>
                        {% for friend in friend_list %}
                            <option value="{{ friend.id }}">{{ friend.nickname }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>

            <div class="clear"></div>
        </div>

        <div class="progress-bar-wrapper">
            <div id="progress-bar">
                <span></span>
                <div class="progress">
                    <span></span>
                </div>
            </div>
        </div>

        <table id="library">
        <thead>
            <tr>
                <th id="filter-column-header">
                    {% include "gamestradamus/fragment/tags/dropdown.html" %}
                </th>
                <th id="name-column-header">
                    <a class="sort-reverse-initial">Game / Genre</a>
                </th>
                <th id="cost-column-header"><a>Cost</a></th>
                <th id="hours-column-header"><a class="sort-descending">Hours</a></th>
                <th id="cost-per-hour-column-header"><a class="sort-reverse-initial">{{ region.numbers.dollar_symbol|safe }} / hr</a></th>
                <th id="rating-column-header"><a>Enjoyment</a></th>
                <th id="finished-column-header" colspan="2">Finished</th>
            </tr>
            <tr id="filter-list">
                <th colspan="8">
                    <div class="rollup">
                        <span class="label">Active:</span>
                        {% include "gamestradamus/fragment/tags/filter-list.html" %}
                    </div>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="cost">&nbsp;</td>
                <td class="hours">&nbsp;</td>
                <td class="center">&nbsp;</td>
                <td class="center">&nbsp;</td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
        {% for user_account_game, game in results %}
            {% if not user_account_game.ignore %}

            {% set price = game.price|default(0, True) %}
            {% set sale_price = game.sale_price|default(0, True) %}
            {% set on_sale = game.on_sale %}
            {% set genre = game.genre %}

            <tr id="game-{{ game.id }}" class="game {{ loop.cycle("odd", "") }}" data-game-id="{{ game.id }}" data-user-account-game-id="{{ user_account_game.id }}">
                <td class="pos left-edge"><div>{{ loop.index }}</div></td>
                <td class="name">
                    <a href="/profile/game/{{ game.id }}/">
                        <img 
                            {% if game.logo %}
                                data-src="{{ game.logo }}"
                            {% else %}
                                data-src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/capsule_sm_120.jpg"
                            {% endif %}
                            width="96" height="36">
                        <h4 class="name">{{ game.name }}</h4>
                    </a><br>
                    <div class="tools">
                        {% if genre %}
                            <div class="genre">
                                {{ genre }}
                            </div>
                        {% endif %}
                        <div class="tag-list">
                            {% if user_account_game.tags %}
                                {% for tag in user_account_game.tags.split('|') %}
                                    <a 
                                        class="tag color-{{ color_hash(tag|tag_group|default('', True)) }}"
                                        data-tag-name="{{ tag }}"
                                        title="{{ tag }}"
                                    >
                                        {{ tag|tag_name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <a class="edit-tags" data-game-name="{{ game.name }}" data-tags="{{ user_account_game.tags|default('', True) }}" data-user-account-game-id="{{ user_account_game.id }}" title="Edit Tags">&nbsp;</a>
                    </div>
                </td>
                <td class="cost">
                    <input
                        class="dollars-paid {% if not user_account_game.corrected %}uncorrected{% endif %}"
                        type="text"
                        value="{{ numbers.format_price(region, user_account_game.dollars_paid) }}"
                        tabindex="{{ loop.index }}"
                        data-steam-price="{{ numbers.format_price(region, price) }}"
                        data-steam-sale-price="{{ numbers.format_price(region, sale_price) }}"
                        data-on-sale="{{ 1 if on_sale else 0 }}"
                    >
                </td>
                <td class="hours">
                    <input
                        class="hours-played {% if user_account_game.custom_hours_played|default(0, True) %}altered{% endif %}"
                        type="text"
                        value="{{ numbers.format_hours(region, user_account_game.steam_hours_played|default(0, True) + user_account_game.custom_hours_played|default(0, True)) }}"
                        tabindex="{{ loop.index + (results|length) }}"
                        data-steam-hours-played="{{ numbers.format_hours(region, user_account_game.steam_hours_played|default(0, True)) }}"
                    >
                </td>
                <td class="center money">
                    <span class="cost-per-hour">
                        {% if user_account_game.dollars_paid and user_account_game.hours_played %}
                            {{ numbers.format_cost_per_hour(region, user_account_game.cost_per_hour) }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </span>
                </td>
                <td class="rating">
                    <div class="rating" data-rating="{{ user_account_game.rating|default(0, True) }}"><!--

                        --><div class="rating-1{% if user_account_game.rating > 0 %} active{% endif %}"><!--
                            --><a class="rating-1" title="I hated this game" data-rating="1"></a><!--

                            --><div class="rating-2{% if user_account_game.rating > 1 %} active{% endif %}"><!--
                                --><a class="rating-2" title="I disliked this game" data-rating="2"></a><!--

                                --><div class="rating-3{% if user_account_game.rating > 2 %} active{% endif %}"><!--
                                    --><a class="rating-3" title="I played this game, it was ok" data-rating="3"></a><!--

                                    --><div class="rating-4{% if user_account_game.rating > 3 %} active{% endif %}"><!--
                                        --><a class="rating-4" title="I liked this game" data-rating="4"></a><!--

                                        --><div class="rating-5 {% if user_account_game.rating > 4 %} active{% endif %}"><!--
                                            --><a class="rating-5" title="I loved this game" data-rating="5"></a><!--
                        --></div></div></div></div></div><!--

                        --><a class="rating-clear {% if user_account_game.rating < 1 %}hidden{% endif %}" data-rating="0" title="Clear Enjoyment">&ndash;</a>
                    </div>
                </td>

                <td class="finished">
                    <label for="finished-game-{{ game.id }}">
                        <input
                            id="finished-game-{{ game.id }}"
                            class="finished-game"
                            type="checkbox"
                            {% if user_account_game.finished %}
                                title="I've finished playing this game."
                            {% else %}
                                title="Mark this game as finished."
                            {% endif %}
                            {% if user_account_game.finished %}checked="checked"{% endif %}
                        >
                    </label>
                </td>
                <td class="ignore right-edge">
                    <div><a class="ignore-game" title="Move '{{ game.name }}' to your ignore list.">×</a></div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        <tbody class="hidden">
            <tr id="empty-row">
                <td colspan="8">&mdash; No games match your current filters &mdash;</td>
            </tr>
        </tbody>
        </table>
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/your-games"], function(init) { init(); });
    </script>
{% endblock %}
